/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.container {
  /* display: flex; */
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
}

.loop-text {
  font-size: clamp(2.5rem, 8vw, 5.5rem);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.25em;
}

.loop-text {
  animation: loopText 5s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  padding: 1.2rem 1.4rem;
  background-color: #7f7f7f;
  border-radius: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
